<%= link_to("<< Back to List", books_path, :class => 'back-link') %>

<div class="books edit">
  <h2>Update Book Entry</h2>

  <%= form_for(@book) do |f| %>

    <table summary="Book form fields">
      <tr>
        <th>Title</th>
        <td><%= f.text_field(:title) %></td>
      </tr>
      <tr>
        <th>Author</th>
        <td><%= f.text_field(:author) %></td>
      </tr>
      <tr>
        <th>Genre</th>
        <td><%= f.select(:genre, @genre_list) %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><%= f.text_field(:price) %></td>
      </tr>
      <tr>
        <th>Published Date</th>
        <td><%= f.date_field :published_date, :value => @book.published_date %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Update Book Entry") %>
    </div>

  <% end %>
</div>
